@tailwind base;
@tailwind components;
@tailwind utilities;
@import "fonts/pretendard.css";

:root {
  /*--background: #ffffff;*/
  /*--foreground: #171717;*/
    --background: #1E201E;
    --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E201E;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Pretendard','system-ui',Arial, Helvetica, sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

article.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

article.post .post-body {
    max-width: 768px;
    margin: 0 auto;
    padding: 1.25rem;
    font-size: 1.1em;
    line-height: 150%
}



article.post h1.post-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

article.post h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

article.post h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

article.post h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}